.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #051540;
  height: 100px;
  width: 100%;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
  padding: 0 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 60px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.navbar-links li {
  cursor: pointer;
  color: white;
  transition: color 0.3s ease;
}

.navbar-links li:hover {
  color: #00bcd4;
}
